/*
* 모든 요소의 크기는 rem으로 설정하며, 브라우저 기준 폰트사이즈는 62.5%(10px) 이다.
* html { font-size: 62.5%; } 와 같이 설정해야 하며 10px을 사용하지 않는 이유는,
* 브라우저의 접근성 옵션이 적용되지 않기때문에 62.5%를 사용한다.
*/
:root {
  /* color */
  --color-blue-light: #5a92ff;
  --color-primary-da-black: #272A36;
  --color-primary-da-blue: #2548C4;
  --color-primary-da-blue-light: #4f74f9;
  --color-primary-da-green: #24D38A;
  --color-primary-da-red: #EC4545;
  --color-primary-white: #FFFFFF;
  --color-gray-01: #222222;
  --color-gray-02: #444444;
  --color-gray-03: #777777;
  --color-gray-04: #999999;
  --color-gray-05: #cccccc;
  --color-gray-06: #eaeaea;
  --color-gray-07: #f1f1f1;
  --color-gray-08: #f9f9f9;
  --color-blue-black-02: #404557;
  --color-blue-black-03: #0F111B;
  --color-blue-black-04: #D1D3DB;
  --color-blue-black-05: #D5D8E4;
  --color-blue-black-06: #52586E;
  --color-state-green-01: #43CA92;
  --color-state-green-02: #EBFAF4;
  --color-state-blue-01: #7B8CC8;
  --color-state-blue-02: #F2F5FF;
  --color-state-yellow-01: #EAB222;
  --color-state-yellow-02: #FFF3D4;
  --color-state-red-01: #E48686;
  --color-state-red-02: #FFEAEA;
  --color-state-gray-01: #BFBFBF;
  --color-state-gray-02: #F5F5F5;
  /* font */
  --font-h2: 2rem;
  --font-h3: 1.6rem;
  --font-h4: 1.4rem;
  --font-h5: 1.2rem;
  /* font weight */
  --font-weight-500: 500;
  --font-weight-700: 700;
  /* font line hieght */
  --font-line-height-h2: 2.8rem;
  --font-line-height-h3: 2rem;
  --font-line-height-h4: 1.8rem;
  --font-line-height-h5: 1.6rem;
  /* padding */
  --padding-sm: 1.2rem;
  --padding-md: 2.4rem;
  --padding-lg: 8rem;
  /* button */
  --button-min-width-sm: 4.5rem;
  --button-height-sm: 2.4rem;
  --button-min-width-md: 8rem;
  --button-height-md: 3.6rem;
  --button-min-width-lg: 12rem;
  --button-height-lg: 5.2rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
