/*
* 모든 요소의 크기는 rem으로 설정하며, 브라우저 기준 폰트사이즈는 62.5%(10px) 이다.
* html { font-size: 62.5%; } 와 같이 설정해야 하며 10px을 사용하지 않는 이유는,
* 브라우저의 접근성 옵션이 적용되지 않기때문에 62.5%를 사용한다.
*/
:root {
  /* color */
  --color-blue-da: #2548c4;
  --color-blue-da-light: #4f74f9;
  --color-blue-light: #5a92ff;
  --color-gray-99: #999999;
  --color-gray-44: #444444;
  --color-gray-22: #222222;
  --color-gray-04: #d1d3db;
  --color-gray-cc: #cccccc;
  --color-gray-ea: #eaeaea;
  --color-black-02: #404557;
  --color-black-03: #0f111b;
  --color-black-04: #d1d3db;
  --color-black-da: #272a36;
  --color-red-state: #e48686;
  --color-red-da: #ec4545;
  --color-red-bg: #ffeaea;
  --color-white-bg: #ffffff;
  /* font */
  --font-h2: 2rem;
  --font-h3: 1.6rem;
  --font-h4: 1.4rem;
  --font-h5: 1.2rem;
  /* font weight */
  --font-weight-500: 500;
  --font-weight-700: 700;
  /* font line hieght */
  --font-line-height-h2: 2.8rem;
  --font-line-height-h3: 2rem;
  --font-line-height-h4: 1.8rem;
  --font-line-height-h5: 1.6rem;
  /* padding */
  --padding-sm: 1.2rem;
  --padding-md: 2.4rem;
  --padding-lg: 8rem;
  /* button */
  --button-min-width-sm: 4.5rem;
  --button-height-sm: 2.4rem;
  --button-min-width-md: 8rem;
  --button-height-md: 3.6rem;
  --button-min-width-lg: 12rem;
  --button-height-lg: 5.2rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
